.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
scripts/backup_scripts/fastqc_backup_acacia/OGLIST*
scripts/backup_scripts/raw_data_backup_aws/OGLIST*
scripts/backup_scripts/finall_all_data_backup_acacia/OGLIST*
scripts/backup_scripts/raw_data_backup_aws/slurm*
nextflow_run_N*
scripts/backup_scripts/fastqc_backup_acacia/draftfastpcheck*
scripts/backup_scripts/finall_all_data_backup_acacia/draftcheck*
scripts/backup_scripts/raw_data_backup_aws/draftRAWcheck*
scripts/backup_scripts/check_files/FileCheck*