/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CREATE_SAMPLESHEET' {
        publishDir = [
        path: { "${params.outdir}/samplesheet" },
        mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIGGER_MITOGENOME' {
        publishDir = [
        path: { "${params.mitogenome_nfcore_dir}" },
        mode: params.publish_dir_mode
        ]
    }

    withName: 'BASESPACE' {
        publishDir = [
          path: { "${params.outdir}/basespace/${params.run}" },
          mode: params.publish_dir_mode
        ]
    }

    withName: 'BBMAP_REPAIR' {
        publishDir = [
          path: { "${params.outdir}/pooled/${params.run}" },
          mode: params.publish_dir_mode
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/fastp/fastqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTP {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/fastp" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIGGER_MITOGENOME {
        publishDir = [
            path: { "${params.mitogenome_nfcore_dir}" },
            mode: params.publish_dir_mode,
        ]
    }
    
    withName: MERYL_COUNT {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/kmers" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: MERYL_UNIONSUM {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/kmers" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MERYL_HISTOGRAM {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/kmers" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GENOMESCOPE2 {
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/kmers/${meta.prefix}.genomescope" },
            mode: params.publish_dir_mode
        ]
        // Define dynamic args and prefix based on params, if the --genomescope2_l parameter is set it will add in the -l flag and append to the output prefix
        // The -l flag value can be set in the nextflow_run.sh script
        // Examples: --genomescope2_l "10" or --genomescope2_l false
        // If false or not set, it will run without the -l flag
        ext.args = { 
            def args = '-k 21 -m 1000'
            def extra_flags = params.genomescope2_l ? 
                "-l ${params.genomescope2_l}" : ''
            return "${args} ${extra_flags}".trim()
        }
        ext.prefix = { 
            def suffix = params.genomescope2_l ? 
                ".l${params.genomescope2_l}" : ''
            return "${meta.prefix}_genomescope2${suffix}"
        }
    }

    withName: CALCULATE_SEQUENCING_COVERAGE {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/coverage" },
            mode: params.publish_dir_mode
        ]
    }

    withName: COMPILE_JSON_TO_CSV {
        publishDir = [
            path: { "${params.outdir}/coverage_summary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "genome_coverage_summary" }
    }

    withName: MEGAHIT {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FCSGX_RUNGX {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/NCBI" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FCSGX_CLEANGENOME {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/NCBI" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BBMAP_FILTERBYNAME{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/NCBI" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BBMAP_REFORMAT {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FCS_FCSADAPTOR {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/NCBI/adaptor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FSCSGX_CLEANGENOME_ADAPTOR {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TIARA_TIARA {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/tiara" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BBMAP_FILTERBYNAME_TIARA {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BUSCO_BUSCO {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/busco" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'EXTRACT_BUSCO_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/busco/busco_sequences" },
            mode: 'copy'
        ]
    }
    
    withName: BWAMEM2_INDEX {
        publishDir = [enabled: false]
    }

    withName: BWAMEM2_MEM {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/bwa" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: MERQURY_MERQURY {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/kmers" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: GFASTATS {
        ext.args = '--nstar-report'
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/assemblies/genome/gfastats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GETORGANELLE_FROMREADS {
        ext.args = '-R 10 -w 95 --continue'
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EMMA {
        ext.args = '--rotate MT-TF'
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = [
                '-outfmt "6 qseqid sseqid staxids sscinames scomnames sskingdoms pident length qlen slen mismatch gapopen gaps qstart qend sstart send stitle evalue bitscore qcovs qcovhsp"',
                '-num_alignments 999999',
                '-evalue 1',
                '-task blastn',
            ].join(' ')
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/lca" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LCA {
        publishDir = [
            path: { "${params.outdir}/mitogenomes/${meta.id}/${meta.mt_assembly_prefix}/lca" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_PER_SAMPLE' {
        ext.args   = {
            def title = params.multiqc_title ? "${params.multiqc_title} - ${meta.id}" : "${meta.id}"
            return "--title \"$title\""
        }
        publishDir = [
            path: { "${params.outdir}/draftgenomes/${meta.id}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
