/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oceangenomesdraftgenomes -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Test params (update to valid paths for your environment before running)
    run               = 'TEST_RUN'
    bs_config         = '/home/tpeirce/.basespace/default.cfg'
    sql_config        = '/home/tpeirce/postgresql_details/oceanomics.cfg'
    gxdb              = '/scratch/references/Foreign_Contamination_Screening'
    ramdisk_path      = '/tmp/gxdb/'
    busco_acti_db     = '/scratch/references/busco_db/actinopterygii_odb10'
    busco_vert_db     = '/scratch/references/busco_db/vertebrata_odb10'
    mitogenome_nfcore_dir = '/scratch/pawsey0964/tpeirce/_NFCORE/Oceanomics-OceanGenomes-Mitogenomes'
    tempdir           = '/scratch/pawsey0964/tpeirce/tmp'
    outdir            = './results-test'
    genomescope2_l    = false
    refreshModules    = true

    // Set to true if you do not want to push metrics to the database during tests
    skip_upload_results = true
}
