/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/oceangenomesdraftgenomes -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Full-size test params (update to valid paths for your environment before running)
    run               = 'TEST_RUN'
    bs_config         = '/home/tpeirce/.basespace/default.cfg'
    sql_config        = '/home/tpeirce/postgresql_details/oceanomics.cfg'
    gxdb              = '/scratch/references/Foreign_Contamination_Screening'
    ramdisk_path      = '/tmp/gxdb/'
    busco_acti_db     = '/scratch/references/busco_db/actinopterygii_odb10'
    busco_vert_db     = '/scratch/references/busco_db/vertebrata_odb10'
    mitogenome_nfcore_dir = '/scratch/pawsey0964/tpeirce/_NFCORE/Oceanomics-OceanGenomes-Mitogenomes'
    tempdir           = '/scratch/pawsey0964/tpeirce/tmp'
    outdir            = './results-full'
    genomescope2_l    = false
    refreshModules    = true
}
